*{
    text-decoration: none;
    list-style-type: none;
}
body{
    margin: 0;
    padding: 0;
    background: #171717;
}
.change-color{
    color:#c70039;
    
}
#main {
    display: block;
}
#head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo{
    margin: 10px 20px;
    color: rgb(8, 8, 8);
}
#menubtn:hover{
    color: #c70039;
}
#closebtn:hover{
    color: #c70039;
    font-size: 20px;
}
#img1{
    height: 70px;
    width: 70px;
    display: none;
}
#text{
    margin: 30px 20px;
    color: rgb(224, 209, 209);
    text-align: center;

}
#menu{
    margin: 10px 20px;
    /* color: rgb(7, 7, 7); */
    color: rgb(224, 209, 209);


}
#menu i{
    font-size: 25px;
}
#menubtn:hover{
    font-size: 30px;
    padding: auto;
}
#img2{
    width: 70%;
    height: 430px;
    padding: 30px;
    border-radius: 40px;
    display: block;
    margin: 2px auto;
}
#img2:hover{
    transform: scale(.96,.96);
    transition: all 100ms;
}
#about{margin: 0;}
#text h3{
    font-size: 35px;
}
#about h6{
    width: 500px;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    font-weight: 100;
    color: rgb(224, 209, 209);

}
#about h4{
    margin-top: 50px;
    color: rgb(224, 209, 209);
    font-size: 35px;
    font-weight: 300;

}
.btn:hover{
    transform: scale(1.1,.1.1);
    padding: 5px 25px;
    background-color: #c70039;
}
#services{
    margin: 40px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#services h4{
    margin: 40px auto;
    font-size: 45px;
    color: white;
}
#services h3{

    margin: 30px auto;
}
.ser{
    background-color: black;
    height:  fit-content;
    padding: 30px;
    display: block;
    margin: 10px 20px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    
}
.ser:hover{
    background-color: #c70039;
}
.ser:hover i{
    color: white;
    background-color: #c70039;
}
.ser i{
    font-size: 70px;
    color:#c70039;
    margin-top: 30px;

}
.ser h3{
    color: white;
}
.ser p{
    color: rgb(150, 130, 130);
}
#skills{
    margin: 40px 40px;
}
#skills h2{
    margin: 80px auto;
    text-align: center;
    color: rgb(208, 196, 196);
    font-size: 45px;
}
.pro{
    background-color: black;
    height: fit-content;
    padding: 3px;
    border-radius: 20px;
    margin: 20px 30px;
}
.inpro{
    /* background-color: rgb(183, 43, 43); */
    background-color:#c70039;

    /* width: 77%; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.inpro p{
    padding: 0 10px;
    margin: 0;
    color: white;
}
#inpro1{
    width: 77%;
}
#inpro2{
    width: 87%;
}
#inpro3{
    width: 67%;
}
#inpro4{
    width: 70%;
}
#inpro5{
    width: 77%;
}
#inpro6{
    width: 90%;
}

/* menulist and social bar  for header (popup)*/

#menulist{
    color: rgb(218, 201, 201);
    height: 100vh;
    display: none;
    width: 100vw;
    background-color: rgb(29, 27, 27);
    /* position: relative; */
    
}
#menulist i{
    margin: 10px;
}
#listitem{
    height: 100vh;
}
#listitem a{
    text-decoration: none;
    color: white;
}
#listitem ul i{
    font-size: 20px;
}
#listitem ul i:hover{
    color: #c70039;
}
 #closebtn{
    font-size: 20px;
    float: right;
    margin: 30px auto;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    color: rgb(203, 183, 183);
    /* position: fixed; *
    /* text-align: right; */
}
#menulist ul{
padding: 0;
text-align: center;
cursor: pointer;

}
#menulist ul a:hover{
    color: rgba(114, 102, 102, 0.915);
}
#menulist ul li{
    /* margin: 30px 0; */
    text-align: center;
    text-transform: uppercase;
    /* width: fit-content; */
    display: block;
    width: 100vw;
    margin: 30px auto;
    padding: 5px 10px;
}

@media (max-width:660px){
    #img2{
        /* display: none; */
        width: 400px;
        height: 270px;
    }
}

@media (max-width:550px){
    #about h6{
        width: auto;
        padding: 5px 20px;
    }
    #skills{
        margin: 40px 10px;
    }
}
@media (max-width:768px){
    #img1{
        display: none;
    }
}

@media (max-width:450px){
    #img2{
        /* display: none; */
        width: 90%;
        height:100%;
    }
}